@media screen and (max-width: 1296px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (max-width: 992px) {
  .location-content {
    width: calc(50% - 12px);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
    &.header-wrap {
      flex-direction: column;
      padding-bottom: 0;
    }
    &.loutter-wrap {
      padding-top: 40px;
      padding-bottom: 64px;
    }
  }
  .logo {
    margin-bottom: 16px;
  }
  .menu {
    flex-wrap: wrap;
    margin: 0 -15px;
    li {
      margin-right: 0;
      width: 50%;
      a {
        display: block;
        padding: 12px 0;
        text-align: center;
        border: 1px solid #FFFFFF;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .index-title {
    font-size: 24px;
    line-height: 36px;
  }
  .location-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .location {
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    select {
      width: calc(100% - 80px);
    }
  }
  .footer-wrap {
    position: relative;
    .flex {
      padding: 0;
    }
  }
  .site-map {
    display: none;
  }
  .social {
    position: absolute;
    top: 24px;
    right: 15px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
  .contact {
    font-size: 16px;
    line-height: 24px;
    padding: 24px 0;
    .material-symbols-outlined {
      margin-right: 11px;
      font-size: 22px;
    }
  }
  .copyright-wrap {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
  }
  .copyright {
    margin-bottom: 8px;
  }
  .service {
    font-size: 16px;
    line-height: 24px;
    a {
      display: block;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
}