<footer>
    <div class="container footer-wrap">
        <div class="flex justify-between align-center pt-12">
            <ul class="site-map">
                <li><a href="">首頁</a></li>
                <li><a href="">系列鏡框</a></li>
                <li><a href="">門市據點</a></li>
                <li><a href="">部落格</a></li>
                <li><a href="">常見問題</a></li>
            </ul>
            <div class="social">
                <a href=""><img src="../assets/images/ic-social-fb.png" alt=""></a>
                <a href=""><img src="../assets/images/ic-social-ig.png" alt=""></a>
                <a href=""><img src="../assets/images/ic-social-line.png" alt=""></a>
            </div>
        </div>
        <div class="contact">
            <a href=""><span class="material-symbols-outlined">call</span>0800-000-000</a>
            <a href=""><span class="material-symbols-outlined">mail</span>glasses@business.com</a>
        </div>
        <div class="copyright-wrap">
            <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="service">
                <a href="">隱私權政策</a>
                <a href="">服務條款</a>
            </div>
        </div>
    </div>
</footer>