<header>
    <div class="container header-wrap">
        <div class="logo"><a href="index.html"></a></div>
        <ul class="menu">
            <li><a href="">系列鏡框</a></li>
            <li><a href="location.html">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="faq.html">常見問題</a></li>
        </ul>
    </div>
</header>