@import './reset.scss';

@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/pagination.scss';


@import './pages/index.scss';
@import './pages/faq.scss';
@import './pages/blog.scss';
@import './partials/media.scss';
