header{
  background: #AA0601;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
}

.logo a {
  display: block;
  width: 80px;
  height: 49px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  align-items: center;
  li {
    margin-right: 64px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.container {
  &.header-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
