*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}


img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items:stretch;
}


.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.pt-4 {
  padding-top: 16px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pt-12 {
  padding-top: 48px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-24 {
  padding-top: 96px;
}

.pb-20 {
  padding-bottom: 80px;
}

//---

.container {
  max-width: 1296px;
  width: 100%;
}

.main-title {
  border-left: 8px solid #9F1213;
  font-size: 48px;
  line-height: 72px;
  padding-left: 16px;
  margin-bottom: 32px;
}

.outter-wrap {
  padding-top: 96px;
  padding-bottom: 80px;
}
