
.location {
  font-size: 24px;
  padding-bottom: 41px;
  select {
    color: #495057;
    font-size: 18px;
    border: 1px solid #CED4DA;
    padding: 6px 12px;
    margin-left: 16px;
    width: 304px;
    height: 38px;
  }
}

.location-content {
  width: calc(33.333333% - 16px);
  margin-bottom: 48px;
  margin-right: 24px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  h2, .info, .button {
    border: 1px solid #00000020;
    color: #212529;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
    padding: 8px 24px;
  }
  .info {
    padding: 16px 24px;
    li {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 8px;
    }
    a {
      color: #212529;
    }
  }
  .button {
    display: block;
    background: #000000;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    padding: 16px 0;
  }
  .material-symbols-outlined {
    vertical-align: middle;
    margin-right: 11px;
  }
}