<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>location</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container outter-wrap">
      <h1 class="main-title">門市據點</h1>
      <div class="location flex align-center"><span>選擇地區</span><select name="台北市" id=""><option value="台北市">台北市</option></select></div>
      <div class="flex flex-wrap align-stretch">
        <div class="location-content">
          <img src="../assets/images/store-1.png" alt="store-img">
          <h2>台北中山旗艦店</h2>
          <ul class="info">
            <li><span class="material-symbols-outlined">call</span>電話：(02)000-1234</li>
            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
            <li><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號</li>
          </ul>
          <a href="" class="button">詳細資訊</a>
        </div>
        <div class="location-content">
          <img src="../assets/images/store-2.png" alt="store-img">
          <h2>台北綠園店</h2>
          <ul class="info">
            <li><span class="material-symbols-outlined">call</span>電話：(02)000-2345</li>
            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
            <li><span class="material-symbols-outlined">location_on</span>地址：台北市中正區復興南路 132-1 號</li>
          </ul>
          <a href="" class="button">詳細資訊</a>
        </div>
        <div class="location-content">
          <img src="../assets/images/store-3.png" alt="store-img">
          <h2>台中清水旗艦店</h2>
          <ul class="info">
            <li><span class="material-symbols-outlined">call</span>電話：(02)000-1234</li>
            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
            <li><span class="material-symbols-outlined">location_on</span>地址：台中市清水區經南一路 23 號 8 樓</li>
          </ul>
          <a href="" class="button">詳細資訊</a>
        </div>
        <div class="location-content">
          <img src="../assets/images/store-4.png" alt="store-img">
          <h2>高雄中正形象店</h2>
          <ul class="info">
            <li><span class="material-symbols-outlined">call</span>電話：(07)000-2345</li>
            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
            <li><span class="material-symbols-outlined">location_on</span>地址：高雄市苓雅區中正路 38 號 12 樓</li>
          </ul>
          <a href="" class="button">詳細資訊</a>
        </div>
        <div class="location-content">
          <img src="../assets/images/store-5.png" alt="store-img">
          <h2>高雄夢時代店</h2>
          <ul class="info">
            <li><span class="material-symbols-outlined">call</span>電話：(07)000-1234</li>
            <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
            <li><span class="material-symbols-outlined">location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓</li>
          </ul>
          <a href="" class="button">詳細資訊</a>
        </div>
      </div>
    </div>
    
    <!-- <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat"> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
